<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../styles/master.css"></link>
<link rel="stylesheet" href="../styles/hud.css"></link>
</head>
<body>
<video autoplay loop>
    <source src="../spaceship.ogv" type='video/ogg; codecs="theora, vorbis"'/>
</video>
<div id="meters">
    <meter
           class="experience"
           max="1"min="0"
           data-bind="value: experience, attr: {title: experienceTooltip}">
    </meter>
    <meter class="ammo"
           max="1"min="0"
           data-bind="value: ammo, attr: {title: ammoTooltip}">
    </meter>
    <meter class="health"
           max="1" min="0"
           data-bind="value: health, attr: {title: healthTooltip}">
    </meter>
</div>
<div id="crosshair">
    <div>
        <div></div>
    </div>
</div>
<ul id="abilities" class="horizontal-list" data-bind="foreach: abilities">
    <li data-bind="attr: {title: description}">
        <img data-bind="attr: {src: icon}"></img>
        </br>
        <span data-bind="text: key"></span>
    </li>
</ul>
<div id="radar" title="Your radar">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="center"></div>
    <!-- ko foreach: detectedEnemies -->
    <div class="enemy"
         data-bind="style: {
                        left: x,
                        top: y,
                        background: 'url(' + shipIcon + ')'
                    }, attr: {
                        title: shipName
                    }">
    </div>
    <!-- /ko -->
</div>

<script src="../scripts/knockout-3.2.0.js"></script>
<script src="../scripts/config.js"></script>
<script src="../scripts/hud.js"></script>
</body>
</html>