<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../styles/master.css"/>
<link rel="stylesheet" href="../styles/ingame.css"/>
</head>
<body>
    <div id="ingame-menu" class="gamepad circular-menu">
        <button class="cn-button" id="cn-button">Menu</button>
        <div class="cn-wrapper" id="cn-wrapper">
            <ul>
                <li><a href="#"><span>Resume</span></a></li>
                <li><a href="#"><span>Map</span></a></li>
                <li><a href="#"><span>Inventory</span></a></li>
                <li><a href="#"><span>Settings</span></a></li>
                <li><a href="#"><span>Quit
                </span></a></li>
             </ul>
        </div>
    </div>
</body>
<script src="../scripts/circular_navigation.js"></script>
<script src="../scripts/ingame.js"></script>
</html>