<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../font-awesome-4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../styles/master.css"/>
<link rel="stylesheet" href="../styles/main_menu.css"/>
</head>
<body>

<div class="multi-level-menu-container">
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
        <!-- mp-menu -->
        <video autoplay loop>
            <source src="../spaceship.ogv" type='video/ogg; codecs="theora, vorbis"'/>
        </video>
        <nav id="main-menu" class="mp-menu">
            <div class="mp-level">
                <h2 class="icon icon-world" id="header" data-bind="text: heading"></h2>
                <ul data-bind="template: {name: 'menu-level-template',
                                          foreach: menu}">
                </ul>
            </div>
        </nav>
        <!-- /mp-menu -->
    </div><!-- /pusher -->
</div><!-- /multi-level-menu-container -->
</body>

<script type="text/html" id="menu-level-template">
<li>
    <a href="#">
        <i data-bind="attr: {class: 'fa fa-' + icon}"></i>
        <span data-bind="text: name"></span>
    </a>
<!-- ko if: !$data.children || $data.children.length === 0 -->
<!-- /ko -->

<!--ko if: $data.children && $data.children.length !== 0 -->
    <div class="mp-level">
        <h2>
            <i data-bind="attr: {class: 'fa fa-' + icon}"></i>
            <span data-bind="text: name"></span>
        </h2>
        <a class="mp-back" href="#">back</a>
        <ul data-bind="template: {name: 'menu-level-template',
                                  foreach: children}">
        </ul>
    </div>
<!-- /ko -->
</li>
</script>
<script src="../scripts/knockout-3.2.0.js"></script>
<script src="../scripts/classie.js"></script>
<script src="../scripts/multi_level_push_menu.js"></script>
<script src="../scripts/main_menu.js"></script>
</html>