<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../styles/master.css"></link>
<link href="../styles/map.css" rel="stylesheet">
</head>

<body>
<video autoplay loop>
    <source src="../spaceship.ogv" type='video/ogg; codecs="theora, vorbis"'/>
</video>
  <body class="opening hide-UI view-2D zoom-large data-close controls-close">
    <div id="navbar">
      <a id="toggle-data" href="#data"><i class="icon-data"></i>Data</a>
      <a id="toggle-controls" href="#controls"><i class="icon-controls"></i>Controls</a>
    </div>
    <div id="data" data-bind="foreach: planets">
      <a data-bind="text: name, click: onselected"></a>
    </div>
    <div id="controls">
      <label class="set-view">
        <input type="checkbox">
      </label>
      <label class="set-zoom">
        <input type="checkbox">
      </label>
    </div>
    <div id="universe" class="scale-stretched">
      <div id="galaxy">
        <div id="solar-system" class="jupiter" data-bind="foreach: planets">
          <div class="orbit" data-bind="style: {
            'z-index': $root.planets.length - $index() + 2,
            width: orbitSize + 'em',
            height: orbitSize + 'em',
            'margin-top': -(orbitSize / 2) + 'em',
            'margin-left': -(orbitSize / 2) + 'em',
            'animation-duration': orbitalDuration,
            },
            attr: { id: 'planet' + $index() }
            ">
            <div class="pos"data-bind="style: {
              'animation-duration': orbitalDuration,
              }">
              <div class="planet" data-bind="style: {
                'animation-duration': orbitalDuration,
                'background-image': 'url(' + icon + ')',
                'font-size': planetSize/10 + 'em',
                }">
                <dl class="infos">
                  <dt data-bind="text: name"></dt>
                  <dd><span></span></dd>
                </dl>
              </div>
            </div>
          </div>
          <!-- ko if: $index() == $root.planets.length - 1 -->
          <div id="sun">
            <dl class="infos">
              <dt>Sun</dt>
              <dd><span></span></dd>
            </dl>
          </div>
          <!-- /ko -->
        </div>
      </div>
    </div>
  </body>
<style type='text/css' data-bind="text: infoText"></style>
<script type="text/javascript" src="../scripts/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/knockout-3.2.0.js"></script>
<script type="text/javascript" src="../scripts/config.js"></script>
<script type="text/javascript" src="../scripts/map.js"></script>
</html>
