@import "./settings";

html, body {
    width: 100%;
    height: 100%;
    font: @body-font;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

video {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: -10;
}

* {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.hidden {
    display: none;
}

ul.vertical-list li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    * {
        margin: 0;
        padding: 0;
    }
}

ul.horizontal-list {
    &> li {
        display: inline-block;
        padding: 0px;
        margin-right: 8px;
    }
}

@import "./circular_navigation";
@import "./multi_level_menu";
@import "./buttons";